* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(img/bg.gif); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card {
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    text-align: center;
    padding: 40px 90px;
    color: #ffff;
    position: relative;
    border-radius: 20px;
}

.menu-icon {
    position: absolute;
    width: 25px;
    left: 40px;
    top: 40px;    
}

.setting-icon {
    position: absolute;
    width: 25px;
    right: 40px;
    top: 40px;    
}

.profile-pic {
    width: 150px;
    background: #fff;
    border-radius: 50%;
    padding: 6px; 
    margin-top: 40px;
}